form{
    width: 70%;
    margin: 20px auto;
    display: flex;

}

form button{
    background-color:aquamarine;
    font-weight: bold;
}
form button:hover {
    cursor: pointer;
}

form input{
    width:100%;
}

.lista{
    display:flex;
    justify-content: center;
}

.lista ul{
    list-style: none;
}

.lista li{
    margin: 10px;
}

.lista img{
    width: 15px;
    margin-left: 10px;
}

.lista img:hover{
    cursor: pointer;
}
